@font-face {
  font-family: 'zirkel_font';
  src:url('../fonts/zirkel_font.eot?-4uwnrk');
  src:url('../fonts/zirkel_font.eot?#iefix-4uwnrk') format('embedded-opentype'),
  url('../fonts/zirkel_font.ttf?-4uwnrk') format('truetype'),
  url('../fonts/zirkel_font.woff?-4uwnrk') format('woff'),
  url('../fonts/zirkel_font.svg?-4uwnrk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="zirkel_icon-"], [class*=" zirkel_icon-"] {
  font-family: 'zirkel_font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zirkel_icon-Fre:before {
  content: "\e601";
}
.zirkel_icon-GW:before {
  content: "\e602";
}
.zirkel_icon-Wld:before {
  content: "\e600";
}